/**
 * Knowbot CSS Stylesheet
 * Version: 1.0.5
 *
 * Please include this file from the CDN.
 * Knowbot visual customisation is done via the JS configuration options.
 * If in rare cases you need to override a style, please do so from your own stylesheet.
 */

#knowbot-container {
    right: 0;
    bottom: 0;
    position: fixed;
    display: block;
    z-index: 2147483646;
}

#knowbot-iframe-wrapper {
    width: 577px;
    height: 80vh;
    margin-right: 16px;
    margin-bottom: 16px;
    display: none;
    position: relative;
    transition: opacity 0.25s ease;
    pointer-events: auto;
}

#knowbot-iframe {
    width: 100%;
    height: 100%;
    background: white;
    border-radius: var(--knowbot-iframe-border-radius);
    box-shadow: var(--knowbot-iframe-box-shadow);
    border: 1px solid var(--knowbot-iframe-border-color);
    opacity: var(--knowbot-iframe-opacity);
}

#knowbot-button {
    font-family: var(--knowbot-button-font-family);
    font-size: var(--knowbot-button-font-size);
    padding: var(--knowbot-button-padding);
    font-weight: var(--knowbot-button-font-weight);
    border-radius: var(--knowbot-button-border-radius);
    border: 1px solid var(--knowbot-button-border-color);
    box-shadow: var(--knowbot-button-box-shadow);
    background-color: var(--knowbot-button-bg-color);
    color: var(--knowbot-button-text-color);
    transition: all 250ms ease;
    line-height: 1.2;
    display: flex;
    gap: 8px;
    cursor: pointer;
    position: fixed;
    bottom: 16px;
    right: 16px;
    z-index: 100001;
    opacity: 0;
    pointer-events: none;
}

body.knowbot-active #knowbot-button {
    opacity: 1;
    pointer-events: auto;
}

#knowbot-button:hover,
#knowbot-button:focus-within {
    background-color: var(--knowbot-button-bg-color-hover);
    color: var(--knowbot-button-text-color-hover);
    border: 1px solid var(--knowbot-button-border-color-hover);
}

#knowbot-close {
    right: 16px;
    top: 16px;
    position: absolute;
    color: #444;
    line-height: 1;
    z-index: 2147483647;
    cursor: pointer;
    width: 46px;
    background-color: white;
    text-align: right;
}

#knowbot-close svg {
    width: 22px;
    height: 22px;
}

#knowbot-close:hover {
    color: black;
}

/* Small screens (Mobile) */
@media (max-width: 607px) {
    #knowbot-iframe-wrapper {
        width: 100vw;
        height: 100dvh;
        margin-right: 0;
        margin-bottom: 0;
        background: white;
    }

    #knowbot-iframe {
        height: 100dvh;
        border-radius: 0;
        padding-bottom: 0;
        box-shadow: none;
        border: none;
    }

    #knowbot-close {
        top: 24px;
    }
}

/* Large screens */
@media (min-width: 1300px) {
    #knowbot-button {
        font-size: var(--knowbot-button-font-size-large);
    }
}
